* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgb(51, 51, 51);
  color: whitesmoke;
  border-style: solid;
  border-color: rgb(47, 227, 200);
  border-width: 4px;
}

.logo {
  padding-top: 20px;
}

h1 {
  font-size: 3rem;
}

nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.3rem;
}

nav ul li a:hover {
  color: rgb(47, 227, 200);
}

.summary {
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

.summary h1 {
  font-size: 2.7rem;
  color: whitesmoke;
  margin-bottom: 20px;
}

span {
  color: rgb(47, 227, 200);
}

h2 {
  font-weight: 500;
  font-size: 2.5rem;
}

.content {
  width: 100%;
  display: inline-block;
}

.content-info {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: sans-serif;
  color: rgb(51, 51, 51);
}

.content p {
  margin-top: 30px;
  width: 60%;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 30px;
}

#about-me {
  text-align: center;
  align-items: center;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

#portfolio {
  background: rgb(51, 51, 51);
  color: whitesmoke;
  text-align: center;
  align-items: center;
}

#portfolio h2 {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

#portfolio h3 {
  font-size: 22px;
  padding-top: 20px;
}

.projects a {
  text-decoration: none;
}

.portfolio-projects {
  background: rgb(51, 51, 51);
  color: whitesmoke;
  border-style: solid;
  border-color: rgb(47, 227, 200);
  border-width: 4px;
  text-align: center;
  align-items: center;
}

.projects {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  margin: 20px;
  flex: 1;
  background: whitesmoke;
  color: rgb(51, 51, 51);
  height: 450px;
  max-width: 300px;
  position: relative;
  top: -200px;
}

.project:hover {
  box-shadow: 5px 10px 15px rgb(47, 227, 200);
  transition-duration: 0.3s;
}

.project img {
  width: 230px;
  height: 220px;
  padding-top: 30px;
}

.project-info {
  padding: 20px;
  line-height: 0.6;
}

.portfolio-projects p {
  font-size: 17px;
  width: fit-content;
}

#hire-me {
  height: auto;
}

#hire-me h2 {
  text-align: center;
  align-items: center;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

input[type="text"] {
  box-sizing: border-box;
  width: 75%;
  padding: 12px;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  height: 6rem;
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 12px;
}

button[type="submit"] {
  background-color: whitesmoke;
  color: black;
  border-style: solid;
  border-color: rgb(47, 227, 200);
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition-duration: 0.4s;
}

button[type="submit"]:hover {
  background-color: rgb(51, 51, 51);
  color: white;
  box-shadow: 2px 3px 3px 2px whitesmoke, 0 3px 3px 0 whitesmoke;
}

form {
  border-radius: 4px;
  background-color: rgb(51, 51, 51);
  padding: 20px;
  color: whitesmoke;
  margin: auto;
  margin-top: 4rem;
  width: 30rem;
  font-size: 17px;
  font-weight: 600;
}

#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  background-color: rgb(47, 227, 200);
  margin-top: 10px;
}

footer p {
  font-size: 22px;
  color: rgb(51, 51, 51);
  margin: 0 18px 0;
}
