* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgb(51, 51, 51);
  color: whitesmoke;
  border-style: solid;
  border-color: rgb(102, 255, 176);
  border-width: 4px;
}

h1 {
  font-size: 3rem;
}

nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
/* rgb(109, 61, 255) */

nav ul li {
  display: inline-block;
  margin: 10px 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.3rem;
}

nav ul li a:hover {
  color: rgb(102, 255, 176);
}

.summary {
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

.summary h1 {
  font-size: 2.7rem;
  color: whitesmoke;
  margin-bottom: 20px;
}
/* summary p {
  line-height: 20px;
} */

span {
  color: rgb(102, 255, 176);
}

h2 {
  font-weight: 500;
  font-size: 2.5rem;
}

.content {
  width: 100%;
  display: inline-block;
}

.content-info {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: sans-serif;
  color: rgb(51, 51, 51);
}

.content p {
  margin-top: 30px;
  width: 60%;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 30px;
}

#about-me {
  text-align: center;
  align-items: center;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

#portfolio {
  background: rgb(51, 51, 51);
  color: whitesmoke;
  border-style: solid;
  border-color: rgb(102, 255, 176);
  border-width: 4px;
  text-align: center;
  align-items: center;
}

#portfolio h2 {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

#hire-me h2 {
  text-align: center;
  align-items: center;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

#contact {
  text-align: center;
}

#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  background-color: rgb(102, 255, 176);
  margin-top: 10px;
}

footer p {
  font-size: 22px;
  color: rgb(51, 51, 51);
  margin: 0 18px 0;
}

.projects {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  margin: 20px;
  flex: 1;
  background: whitesmoke;
  color: rgb(51, 51, 51);
}

.project img {
  width: 100%;
}

.project-info {
  padding: 25px;
  line-height: 1.3;
}
